task-mgr-api/.env
task-mgr-api/task.json
task-mgr-api/node_modules
store-api/.env
store-api/node_modules
store-api/productData.json
store-api/populate.js
SPA-api/node_modules
SPA-api/.env
jobs-api/.env
jobs-api/node_modules
